spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mp?useUnicode=true&serverTimezone=GMT&useSSL=false&characterEncoding=utf8
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    baseline-on-migrate: true
    enabled: true

logging:
  level:
    com.shuijing.mp.dao.mapper: trace